<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>Simple Chat App</title>
  </head>

  <body>
    <header>
      <h1>Super Chat</h1>
    </header>

    <section>
      <div id="change_username">
	<input id="username" type="text" />
	<button id="send_username" type="button">Change username</button>
      </div>
    </section>

    <section id="chatroom">
      <section id="feedback"></section>
    </section>

    

    <section id="input_zone"> 
      <input id="message" class="vertical-align" type="text" />
      <button id="send_message" class="vertical-align" type="button">Send</button>
    </section>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
    
      $(function () {
        //make connection
        var socket = io.connect('http://localhost:4000')

        //buttons and inputs
        var message = $("#message")
        var username = $("#username")
        var active_contact = $('contact active')
        var send_message = $("#send_message")
        var send_username = $("#send_username")
        var chatroom = $("#chatroom")
        var feedback = $("#feedback")
        var add_contact = $("contacts")

        //Emit message
        send_message.click(function () {
          console.log('send clicked');
          socket.emit('new_message', { message: message.val() })
        })

        //Listen on new_message
        socket.on("new_message", (data) => {
          feedback.html('');
          console.log(message.val()+ ' New msg');
          chatroom.append("<p class='message'>" + data.username + ": " + data.message + "</p>")
        })

        //Emit a username
        send_username.click(function () {
          socket.emit('change_username', { username: username.val() })
        })

        //Emit typing
        message.bind("keypress", () => {
          socket.emit('typing')
        })

        //Listen on typing
        socket.on('typing', (data) => {
          feedback.html("<p><i>" + data.username + " is typing a message..." + "</i></p>")
        })

        ////////////////////////////////////////////////////////////////////////////
        //add contact
        add_contact.click(() => {
          console.log('contact added')
        });

        // send_message.click(() => {
        //   message = $(".message-input input").val();
        //   consile.log(message+ ' message')
        //   if ($.trim(message) == '') {
        //     return false;
        //   }
        //   $('<li class="sent"><img src="http://emilcarlsson.se/assets/mikeross.png" alt="" /><p>' + message + '</p></li>').appendTo($('.messages ul'));
        //   $('.message-input input').val(null);
        //   $('.contact.active .preview').html('<span>You: </span>' + message);
        //   $(".messages").animate({ scrollTop: $(document).height() }, "fast");
        //    socket.emit('new_message', { message: message.val() })
        // })

        // socket.emit('new_message', { message: message.val() })


      });

    

    </script>
  </body>
</html>
